#header-top-nav {
  background-color: #fff;
  border-bottom: 1px solid #e5e5e5;
}

#header-logo {
  background-color: #f8f8f8;
  border-bottom: 1px solid #e5e5e5;
}

#header-top-nav li .line {
  width: 1px;
  background: #e5e5e5;
}

#header-logo .search-box-s .search input {
  border: 1px solid #e5e5e5;
  border-right: none;
  padding: 9px 12px 10px 12px;
}

#footer .f-bottom {
  border-color: #e5e5e5;
  background: none;
}

.shopcart-wrap,
.order-wrap {
  padding: 50px 0;
}

.all-table {}

.all-table th {
  border: 1px solid #e5e5e5;
  font-weight: bold;
  border-left: none;
  border-right: none;
  padding: 20px 0;
  text-align: center;
}

.all-table th.th-selected {
  text-align: left;
}

.all-table .selected-store {
  margin: 30px 0 15px 0;
  padding-left: 30px;
  position: relative;
}

.product-table tr {
  border: 1px solid #e0e0e0;
}

.product-table tr.error {
  border: 1px solid #f6a2a2;
}

.product-table tr.pro-disabled {
  background-color: #f8f8f8;
}

.product-table tr.pro-disabled .pro-name a {
  color: #999;
}

.product-table tr.pro-disabled .icon-disabled {
  width: 16px;
  height: 16px;
  background: url(/images/sold-out-2eea365b8221732221dbc4cb61b39b29.png) no-repeat;
}

.product-table td {
  padding: 30px 0;
}

.product-table .qty-add {
  overflow: hidden;
  display: inline-block;
  margin: 5px 0;
}

.product-table .stintQty_tip,
.product-table .out_of_stock {
  color: #ff0000;
}

.product-table .qty-add input {
  height: 30px;
  border: 1px solid #e5e5e5;
  line-height: 30px;
  padding: 5px;
  width: 50px;
  float: left;
  text-align: center;
}

.product-table .qty-error-1,
.product-table .qty-error-2 {
  color: #ff0000;
}

.product-table .qty-add span {
  display: inline-block;
  width: 30px;
  height: 30px;
  line-height: 26px;
  border: 1px solid #e5e5e5;
  text-align: center;
  float: left;
  cursor: pointer;
  background-color: #fff;
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Chrome/Safari/Opera */
  -khtml-user-select: none;
  /* Konqueror */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, currently
not supported by any browser */
}

.product-table {
  margin-bottom: 40px;
}

.product-table .qty-add span.minus {
  border-right: none;
  font-size: 20px;
}

.product-table .qty-add span.plus {
  border-left: none;
  font-size: 16px;
}

.product-table .a-btn a {
  display: inline-block;
  text-decoration: underline;
  margin-bottom: 10px;
}

.product-table .pro-name a {
  color: #333;
  display: block;
  max-height: 40px;
  overflow: hidden;
}

.product-table .pro-name p {
  color: #999;
}

.product-table .color-red {
  color: #ff0000;
  margin-top: 10px;
  text-decoration: underline;
}

.selected-coupon {
  float: right;
  margin-bottom: 15px;
}

.selected-coupon .input-box,
.selected-coupon .apply {
  float: left;
  height: 50px;
}

.selected-coupon .input-box {
  width: 400px;
  border: 1px solid #e5e5e5;
  position: relative;
}

.selected-coupon .input-box.err {
  border-color: #ff0000;
}

.selected-coupon .input-box .right-icon {
  position: absolute;
  right: 0;
  top: 10px;
  z-index: 1;
}

.selected-coupon .input-box .right-icon i {
  display: inline-block;
  width: 30px;
  height: 30px;
  background: url(/images/bg-7a0d4bc335d3c02225de9aaf61e43bde.png) -201px -4px no-repeat;
  cursor: pointer;
}

.selected-coupon .input-box .right-icon ul.option-list {
  position: absolute;
  right: -1px;
  top: 38px;
  z-index: 2;
  border: 1px solid #e5e5e5;
  width: 400px;
  background-color: #fff;
  display: none;
}

.selected-coupon .input-box .right-icon ul.option-list li {
  padding: 10px 20px;
  cursor: pointer;
}

.selected-coupon .input-box .right-icon ul.option-list li:hover {
  background-color: #f7a900;
  color: #fff;
}

.selected-coupon .input-box input {
  width: 360px;
  height: 100%;
  padding: 0 10px;
  border: none;
}

.selected-coupon .apply {
  width: 120px;
  text-align: center;
}

.selected-coupon .apply a {
  display: block;
  width: 100%;
  height: 50px;
  line-height: 50px;
  background-color: #333;
  color: #fff;
}

.selected-coupon .apply a:hover {
  background-color: #f7a900;
}

.selected-coupon .coupon-error {
  color: #ff0000;
  margin-top: 5px;
}

.total-box {
  padding: 25px 0 15px 0;
}

.total-box .s-saving {
  position: relative;
}

.total-box .s-saving:before {
  content: '-';
  position: absolute;
  left: 47px;
  top: -3px;
  z-index: 2;
  font-size: 18px;
}

.total-box .t-t {
  margin-bottom: 15px;
  overflow: hidden;
}

.total-box .s-name {
  display: inline-block;
  width: 86%;
  text-align: right;
  float: left;
  font-size: 16px;
}

.total-box .s-value {
  display: inline-block;
  /* width: 17%; */
  text-align: left;
  padding-left: 60px;
  font-size: 16px;
  float: right;
}

.total-box .grand-totals {
  border-top: 1px solid #e5e5e5;
  margin-top: 35px;
  padding-top: 25px;
}

.total-box .grand-totals span {
  font-weight: bold;
  font-size: 18px;
}

.a-proceed {
  text-align: right;
  margin-bottom: 20px;
}

.a-proceed a {
  display: inline-block;
  width: 300px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  background-color: #f7a900;
  color: #fff;
  font-size: 18px;
  font-weight: bold;
}

.checkbox-icon {
  display: inline-block;
}

.checkbox-icon.notext {
  width: 15px;
  height: 15px;
}

.checkbox-icon.notext span.check-item {
  padding-left: 0px;
}

.checkbox-icon.notext .checkbox {
  position: static;
}

.selected-store .checkbox-icon {
  float: left;
  margin-right: 30px;
  margin-top: 2px;
}

.store-coupon {
  margin-left: 20px;
  cursor: pointer;
}

.store-coupon:before {
  content: '';
  display: inline-block;
  width: 59px;
  height: 20px;
  background: url(/images/detail/coupon-c4c63f32b0d28683231d9f3492bb4bb0.png) no-repeat;
  vertical-align: bottom;
  margin-right: 5px;
}

.operation a {
  text-decoration: underline;
  color: #333;
  margin-right: 25px;
}

.operation {
  padding-left: 30px;
}

.operation .checkbox-icon {
  margin-right: 25px;
}

.mask-bg.remove-product .alert-box,
.mask-bg.remove-product-all .alert-box,
.mask-bg.add-favorite .alert-box,
.mask-bg.select-product .alert-box {
  width: 500px;
  margin-left: -250px;
  display: block;
  padding: 50px 10px;
}

/*优惠券样式*/
.store-coupon .coupon-list {
  position: absolute;
  left: 0;
  top: 35px;
  z-index: 9;
  border: 1px solid #e5e5e5;
  padding: 0px 0px 0px 0px;
  background-color: #fff;
  width: 520px;
  display: none;
}

.store-coupon .c-lists {
  max-height: 255px;
  overflow-y: scroll;
  padding: 13px 20px 0 20px;
}

.store-coupon .coupon-list .close-coupon {
  position: absolute;
  right: 18px;
  top: 6px;
  z-index: 9;
}

.store-coupon .coupon-list .close-coupon a,
.alert-close {
  display: block;
  background: url(/images/bg-7a0d4bc335d3c02225de9aaf61e43bde.png) -85px -450px no-repeat;
  width: 16px;
  height: 16px;
}

.store-coupon .c-list-item {
  border-bottom: 1px solid #e5e5e5;
  padding: 20px 0;
}

.store-coupon .c-list-item:last-child {
  border: none;
}

.store-coupon .c-list-item .left-text {
  float: left;
  color: #333;
}

.store-coupon .c-list-item .left-text .coupon-pri {
  color: #ff0000;
  font-size: 16px;
}

.store-coupon .c-list-item .claim-it,
.store-coupon .c-list-item .received {
  float: right;
}

.store-coupon .c-list-item .claim-it a {
  display: block;
  width: 125px;
  height: 35px;
  line-height: 35px;
  text-align: center;
  background-color: #f7a900;
  color: #fff;
  transition: all .5s ease;
}

.store-coupon .c-list-item .claim-it a:hover {
  background-color: #f78600;
}

.store-coupon .c-list-item .received a {
  display: block;
  width: 125px;
  height: 35px;
  line-height: 35px;
  text-align: center;
  background-color: #ccc;
  color: #fff;
  transition: all .5s ease;
}

/*下单页面*/
.order-box .order-step h4 {
  font-weight: bold;
  padding-bottom: 12px;
  border-bottom: 1px solid #e5e5e5;
  position: relative;
  font-size: 18px;
  margin-bottom: 10px;
}

.order-box .order-step h5 {
  font-weight: bold;
  margin-bottom: 12px;
}

.order-box .order-step {
  margin-bottom: 40px;
}

.order-box .order-step.step1 h4 a {
  float: right;
  color: #333;
  text-decoration: underline;
}

.order-box .order-step.step1 a.a-yellow {
  display: inline-block;
  width: 230px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  background-color: #f7a900;
  color: #fff;
  font-size: 16px;
  margin-right: 29px;
  margin-top: 15px;
}

.order-box .order-step.step1 .a-btns {
  margin-top: 10px;
}

.order-box .order-step.step1 a.a-cancel,
.order-box .order-step.step1 a.a-edit {
  text-decoration: underline;
  font-size: 16px;
  color: #333;
}

.order-box .order-step.step1 a.a-edit {
  margin-left: 0;
  font-size: 14px;
}

.address-list .address-item:first-child {}

.address-list .address-item:last-child {
  border: none;
  padding-bottom: 0;
}

.address-list .address-item {
  border-bottom: 1px solid #e5e5e5;
  padding: 18px 0 22px 0;
  position: relative;
}

.address-list .address-item .select-address {
  width: 20px;
  height: 20px;
  background: url(/images/member/member-bg-ed79941521122106e6f8df70ce6d862f.png) -188px -101px no-repeat;
  position: absolute;
  right: 0;
  top: 44px;
  z-index: 2;
  cursor: pointer;
}

.address-list .address-item .select-address.selected {
  background-position: -223px -101px;
}

.address-choose {
  display: none;
}

.product-slide .swiper-button-prev,
.product-slide .swiper-button-next {
  width: 16px;
  height: 40px;
}

.order-box .checkbox-icon .checkbox {
  background: url(/images/member/member-bg-ed79941521122106e6f8df70ce6d862f.png) 0 -105px no-repeat;
}

.order-box .checkbox-icon,
.order-box .payimg {
  float: left;
}

.payment-method-list {
  margin-top: 30px;
}

.payment-method-list li {
  overflow: hidden;
  margin-bottom: 20px;
}

.payment-method-list a.a-choose {
  overflow: hidden;
  float: left;
  margin-right: 30px;
}

.payment-method-list .pay-price {
  font-weight: bold;
  float: left;
  margin-top: 15px;
  display: none;
}

.payment-method-list .pay-price span {
  color: #ff0000;
  font-weight: bold;
}

.payment-method-list .payimg {
  border: 1px solid #e5e5e5;
}

.payment-method-list .checkbox-icon {
  margin-top: 15px;
  margin-right: 30px;
}

.payment-method-list li.act .pay-price {
  display: block;
}

.payment-method-list li.act .payimg {
  border: 2px solid #f7a900;
}

.payment-method-list .checkbox-icon .cur {
  background-position: -150px -104px;
}

.product-slide {
  margin-top: 35px;
}

.order-box .order-step.step5 {
  margin-bottom: 10px;
}

.product-slide .slide-img {
  width: 170px;
  height: 170px;
  border: 1px solid #e5e5e5;
  position: relative;
  margin: 0 auto;
}

.product-slide .slide-img img {
  width: 100%;
  height: 100%;
}

.product-slide .slide-img .order-qty {
  padding: 3px 0px;
  min-width: 42px;
  color: #fff;
  background-color: #f7a900;
  position: absolute;
  right: 0;
  top: 15px;
  z-index: 2;
  font-size: 12px;
  text-align: center;
}

.order-box .a-proceed p {
  font-size: 16px;
}

.product-slide .swiper-button-prev {
  background-position: -132px -258px;
  left: 0;
}

.product-slide .swiper-button-next {
  background-position: -150px -258px;
  right: 0;
}

.product-slide .swiper-button-prev:hover {
  background-position: -176px -258px;
}

.product-slide .swiper-button-next:hover {
  background-position: -194px -258px;
}

.product-slide .swiper-container {
  padding: 0 35px 0 35px;
}

/*订单新增/编辑地址页面*/
.order-wrap h4.order-address-tit {
  font-size: 18px;
  font-weight: bold;
  padding-bottom: 15px;
  border-bottom: 1px solid #e5e5e5;
  margin-bottom: 35px;
}

.order-wrap .form-item {
  width: 370px;
  float: left;
  margin-bottom: 15px;
  margin-right: 60px;
}

.order-wrap .form-item label {
  font-size: 16px;
  margin-bottom: 10px;
  display: block;
}

.order-wrap .form-item label span {
  color: #ff0000;
}

.order-wrap .form-box {
  width: 100%;
  max-width: 800px;
}

.order-wrap .form-item input {
  border: 1px solid #e5e5e5;
  height: 40px;
  line-height: 40px;
  padding: 10px;
  width: 100%;
}

.order-wrap .form-item p.note {
  color: #999;
  margin-top: 10px;
}

.order-wrap .save-address-btn button {
  display: inline-block;
  padding: 0 66px;
  color: #fff;
  background-color: #f7a900;
  border: none;
  cursor: pointer;
  height: 50px;
  line-height: 50px;
  text-align: center;
  font-size: 16px;
}

.order-wrap .save-address-btn button:hover {
  background-color: #f78600;
}

.order-wrap .form-item.address-line {
  width: 100%;
}

.order-wrap .form-item.address-line input {
  width: 100%;
}

.order-wrap .form-item:nth-child(even) {
  margin-right: 0;
}

.order-wrap .add-address-btns {
  margin: 0 0 30px 0;
}

.order-wrap .add-address-btns b {
  font-size: 16px;
  font-weight: bold;
}

.order-wrap .add-address-btns a {
  display: block;
  width: 270px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  background-color: #f7a900;
  color: #fff;
  font-size: 16px;
}

#add-address-form select {
  width: 100%;
  height: 40px;
  border: 1px solid #e5e5e5;
  padding: 5px;
}

label.error {
  color: #ff0000;
  margin-top: 10px;
}

/*失败成功页面*/
.page-tip {
  padding: 225px 0;
}

.page-tip .tip-img,
.page-tip .tip-text {
  float: left;
}

.page-tip .tip-text {
  margin-left: 40px;
}

.page-tip .tip-text h4 {
  font-size: 26px;
  font-weight: normal;
  margin-bottom: 18px;
}

.tip-container {
  width: 400px;
  margin: 0 auto;
}

.page-tip .tip-text a {
  text-decoration: underline;
  color: #333;
  font-size: 16px;
}

.page-tip .tip-text .return {
  margin-bottom: 7px;
}

.page-tip .tip-text .return a {
  color: #f7a900;
}

.page-tip .tip-text .contact {
  font-size: 16px;
}

/*order loading页面*/
.order-loading {
  padding: 70px;
  width: 907px;
  margin: 0 auto;
}

.order-loading h3 {
  font-size: 28px;
  font-weight: normal;
  border-bottom: 1px solid #e5e5e5;
  padding-bottom: 35px;
  margin-bottom: 35px;
}

.order-loading p {
  margin-bottom: 10px;
  font-size: 17px;
}

.order-loading .bg-text {
  background-color: #f5f5f5;
  width: 660px;
  margin: 40px auto 0 auto;
  border-radius: 40px;
  font-size: 17px;
  padding: 10px 0;
}

.order-loading p.we {
  margin-bottom: 30px;
}
